* {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#weather-query input {
  width: 200px;
}

#weather-query button {
}

.container-flex {
  width: 920px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.infoTemp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* layout */
.l-section {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.w100 {
  flex: 1 1 100%;
}
.w50 {
  flex: 1 1 auto;
}
.nexthours,
.nextdays {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: space-evenly;
}

/* 
table{
    margin: auto;
    width: 100%;
    text-align: center;
}

#weatherSection, #forecastSection{
    display: none;
    justify-content: center;
    flex-flow: row;
    text-shadow: 0 0 2px;

}

input{
    padding: .5rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
    
}

#charger{
    width: 5rem;
    display: none;

}

#ville{
    width: 100%;
}
#infos{
    font-weight: bold;
}

#commentaire, #tempsIcone,#temperature{
    font-size: 2rem;
}
#view{
    display: flex;
    justify-content: center;

}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px){
    #charger{
        margin: auto;
        display: block;
    
    }
} */

/* #nextdays i:first-child::before{
    content: none;
} */

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
