:root {
  --bg: #ebf7ff;
  --white: #fff;
  --gray-text: #c3c3c3;
  --blue: #03a9f4;
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --size-title: calc(20px + 15 * ((100vw - 320px) / 680));
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Niramit", sans-serif;
  margin: 0;
  background-color: #f6f6f6;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.container-flex {
  width: 920px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  color: var(--blue);
}

/* layout */
.l-section {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1.5%;
}
.w100 {
  flex: 1 1 100%;
}
.w50 {
  flex: 1 1 auto;
}

form {
  margin: 2vw 0;
}
.panel {
  box-shadow: var(--box-shadow);
  margin-bottom: 2vh;
  border-radius: 6px;
}

.nexthours,
.nextdays {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}
.nexthours div {
  flex: 1 1 auto;
  margin: 5px;
}

.nexthours div:not(:last-child) {
  border-right: 1px solid var(--blue);
}
.nextdays {
  flex-direction: column;
  align-content: unset;
  padding: 0 1.5%;
}
.nextdays_day div {
  flex: 1 0 0;
}
.nextdays_day {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchInput {
  display: flex;
  width: 100%;
  justify-content: center;
}

.infoTemp,
.infoPlus {
  background-color: var(--white);
  margin: 5px;
  padding: 5px 20px;
  color: var(--white);
  font-weight: 700;
}
.infoTemp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: linear-gradient(to left top, #2980b9, #6dd5fa, #ffffff);
}
.infoPlus {
  text-align: left;
}

.infoDate {
  margin: 1.5vw 0;
}
/* .infoTemp__comment,
.infoTemp__degrees {
  padding: 10px 0;
} */
.infoTemp__comment {
  text-align: right;
  font-size: var(--size-title);
  font-weight: 700;
}
.infoTemp__degrees {
  text-align: left;
}

.infoTemp__icon {
  font-size: calc(20px + 40 * ((100vw - 320px) / 680));
  line-height: 0;
}
.searchInput input {
  width: 200px;
  border: 2px solid var(--blue);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: var(--gray-text);
}
.btn {
  background-color: white;
  border-radius: 4px;
  color: var(--blue);
  font-weight: 700;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 15px;
  font-family: "Niramit", sans-serif;
  border: 2px solid var(--blue);
  transition: all 0.3s ease-in-out;
}
.btn.invert {
  background: var(--blue);
  color: white;
}
.btn.invert:hover {
  background-color: white;
  color: var(--blue);
}

.btn:hover {
  background-color: var(--blue);
  color: white;
}
.pac-container {
  font-family: "Niramit", sans-serif;
  border: 2px solid var(--blue);
  border-radius: 3px;
  margin-top: -1px;
  border-top: none;
}
.pac-logo::after {
  height: 0;
  background: none;
}

.pac-matched {
  color: var(--blue);
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/*
*
*
*
*
*
*
*
*
*/
.hide {
  display: none;
}
